.NavMain{
  height: 5rem;
  padding: 1rem;
}

.NavMain ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 12rem;
}

.NavMain li{
  padding: 0 1rem;
}

.Tasks{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* List */

.Tasks-List{
  background-color: white;
  max-height: 470px;
  flex: 1;
  border-radius: 10px;
  padding: 2rem 0;
  margin-right: 4rem;
}

.Tasks-List h4{
  margin-bottom: 2rem;
}

.Tasks-List ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type : none;
}

.Tasks-List ul li{
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #FBEFE8;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 150px;
  margin-bottom: 1rem;
  
}

.Tasks-List ul li.Selected{
  background-color: #F77871;
}
/* Desc And Add Container */

.Tasks-Info{
  height: 470px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.Tasks-Info h4{
  text-align: center;
  padding: 0.5rem;
}


/* Desciption */

.Tasks-Description{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  max-height: 200px;
}

.Description-Text{
  margin: 1rem auto;
  border-radius: 5px;
  border: none;
  background-color: #FBEFE8;
  padding: 0.5rem;
  width: 70%;
  
}

.Desc-Buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Desc-Remove,
.Desc-Done{
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #A1DD70;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 155px;
  display: flex;
  justify-content: space-between; 
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
}

.Desc-Remove{ 
  background-color: #F77871;
}
/* Add */

.Tasks-Add{
  width: 100%;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.Add-Content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}


.Add-Set{
  width: 350px;
  margin: 0 auto;
  padding-bottom :1rem ;

}
.Add-Content input,
.Add-Content textarea{
  display: block;
  border-radius: 5px;
  border: none;
  background-color: #FBEFE8;
  padding: 0.5rem;
  width: 70%;
  margin-left: 2.5rem;
  margin-bottom: 0.5rem;
}

.Add-Content textarea{
  width: 80%;
}

.Add-Button{
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #A1DD70;
  padding: 0.5rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-left: 36.5rem;
}

/* Completed */

.completed{
  text-decoration: line-through;
}